<html>
	<head>
		<title>{{ title }} - Console</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<link href="/static/css/bootstrap.min.css?q=123456" rel="stylesheet" media="screen">
		<script src="/static/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<script type="text/javascript">
			$(document).ready(function(){
			    window.setInterval(flash, 500);
			    function flash(){
			    	var warnings = document.getElementsByClassName("warning");
			    	var i;
			    	for(i = 0; i < warnings.length; i++){
				    	if(warnings[i].className.indexOf("alert-warning") > -1)
				    		warnings[i].className = "alert alert-danger warning";
				    	else
			    			warnings[i].className = "alert alert-warning warning";	
			    	}
			    }
			    window.setInterval(flash250, 250);
			    function flash250(){
			    	var flashers = document.getElementsByClassName("flash250");
			    	var i;
			    	for(i = 0; i < flashers.length; i++){
				    	if(flashers[i].style.color == "red"){
				    		flashers[i].style.color = "black";
				    	}else{
				    		flashers[i].style.color = "red";
				    	}
			    	}
			    }
			});
		</script>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Console</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
					{% if user.access == 4 %}
						{% if title == "Reception" %}
							<li><a href="index">Home</a></li>
							<li class="active"><a href="reception">Reception</a></li>
						{% else %}
							<li class="active"><a href="index">Home</a></li>
							<li><a href="reception">Reception</a></li>
						{% endif %}
					{% elif user.access != 4 %}
						{% for navitem in navigation %}
							{% if navitem.name == title %}
								<li class="active">
							{% else %}
								<li>
							{% endif %}
							<a href="{{ navitem.link }}">{{ navitem.name }}</a></li>
						{% endfor %}
					{% endif %}
					</ul>
				</div>
				<ul id="usernav" class="nav navbar-nav navbar-right">
					{% if user is defined %}
						<li style="vertical-align:center">
							<a href="#">Logged in as {% if g.user.access == 99 %}<strong>{{ user.username }}</strong>{% else %}{{ user.username }}{% endif %}.</a>
						</li>
						<li>
							<a href="{{ url_for('logout') }}">Logout</a>
						</li>
					{% endif %}
				</ul>
			</div>
			
           
		</nav>
		<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
	        {% for category, message in messages %}
	        {% if category == "error" %}
	            <div class="alert alert-danger"><strong>Error: </strong>{{ message }} </div>
	        {% elif category == "warning" %}
	        	<div class="alert alert-warning warning"><strong>Warning: </strong>{{ message }} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>  </div>
        	{% else %}
	        	<div class="alert alert-success">{{ message }} </div>
	        {% endif %}
	        {% endfor %}
    	{% endwith %}
		{% block content%}{% endblock %}
		</div>
	</body>
</html>