{% extends "base.html" %}
{% block content %}
  <script type="text/javascript">
  $(function(){
    $("#usernav").remove();
  });
  </script>
	<div class="jumbotron">
		<h1>Welcome to the Console!</h1>
		<p>This console is a web based access point from which an administrator may view and edit various attributes of the card readers in this system, and the personnel who use the card readers.</p>
    <div class="panel panel-info center-block" style="width:360px">
      <div class="panel-heading"><strong>Sign In</strong></div>
      <div class="panel-body">
  		  <form action="#" method="post" name="login">
  			{{ form.hidden_tag() }}
          <div class="text-center">
            <div class="form-group">
              <label>{{ form.username.label }}: </label>
            	{{ form.username(size=28) }}
            </div>
            <div class="form-group">
              <label>{{ form.password.label }}: </label>
              {{ form.password(size=28) }}
            </div>
            <div class="form-group">
              {{ form.remember_me.label }}: {{ form.remember_me }}
            </div>
        		<button type="submit" class="btn btn-primary">Sign In</button>
          </div>
    		</form>
      </div>
    </div>
  </div>
{% endblock %}