{% extends "base.html" %}
{% block content %}
	<script type="text/javascript">
		$(function() {
		    $(".enable").click(function() {
		       	$.ajax({
		            url: "/readerEnable",
		            data: {"readerID": this.id},
		            type: "POST",
		            dataType: "json",
		            success: function(response) {
		                window.alert(response);
		                console.log(response);
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
		});

		// if it is necessary to use user.id not as an index into the array, 
		// we need to search through this users[] array and find a matching user.id (add into the JSON.parse statement then)
		// for now, (user.id - 1) works as an index
		var users = [];
		{% for user in users %}
		var user{{ loop.index0 }} = JSON.parse('{"username": "{{ user.username }}"}');
		users.push(user{{ loop.index0 }});
		{% endfor %}

		var readers = [];
		{% for reader in readers %}
		var readerArray{{ loop.index0 }} = {{ reader.users|tojson }};
		readers.push(JSON.parse(readerArray{{ loop.index0 }}));
		{% endfor %}

		var currentReader = -1;	// this will be set by changeUserList() before it used in toggleUserList
		
		// programatically transfer user template array to a list of push statements
		// for use in javascript.

		// do template creation of user list modal
		// use javascript for elements by classname to change button from primary to success
		// use as a select-list input, ajax to communicate to server

		$(document).ready(function() {
			$("#changeUserListModal").modal("show");
		});

		function saveUserListChanges(){
			$.ajax({
	            url: "/readerChangeUserList",
	            data: JSON.stringify({"readerID": currentReader + 1, "readerUserList": readers[currentReader]}),
	            type: "POST",
	            dataType: "json",
	            contentType: "application/json",
	            success: function(response){
	            	var readerUserLists = document.getElementsByClassName("readerUserList");
	            	var readerUserListString = response["readerUserList"];
	            	console.log("RULS: " + readerUserListString);
	            	var readerUserListArray = JSON.parse(readerUserListString);

	            	for(var i = 0; i < readerUserLists.length; i++){
	            		if(readerUserLists[i].id == currentReader + 1){
	            			readerUserLists[i].innerHTML = "";
	            			for(var j = 0; j < readerUserListArray.length; j++){
	            				var user = users[parseInt(readerUserListArray[j] - 1)];
	            				readerUserLists[i].innerHTML += (user.username + ", ");
	            			}
	            			break;
	            		}
	            	}
	            	//var reader = JSON.parse(response);
	                console.log(response);
	            },
	            error: function(error){
	                console.log(error);
	            }
		    });
		}

		function toggleUserList(userID){
			var readerUserList = readers[currentReader];
			var toggleUserIDoneindexed = userID;

			var userExistsInList = false;
			var userExistIndex = -1;

			for(var i = 0; i < readerUserList.length; i++){
				if(toggleUserIDoneindexed == parseInt(readerUserList[i])){
					userExistsInList = true;
					userExistIndex = i;
				}
			}

			if(userExistsInList){
				readerUserList.splice(userExistIndex, 1);
			}else{
				readerUserList.push(userID.toString());
			}

			console.log(JSON.stringify(readerUserList))

			readers[currentReader] = readerUserList;
			changeUserList(currentReader + 1);
		}


		function changeUserList(readerID){
			currentReader = readerID - 1; // minus one because ID's are 1-indexed, not zero-indexed
			var userListTable = document.getElementById("changeUserListTable");
			var readerUserList = readers[currentReader];	

			var userListButtons = document.getElementsByClassName("userListButton");
			for(var i = 0; i < userListButtons.length; i++){
				var user = users[i];
				var userAuthorized = false;
				$(userListButtons[i]).removeClass("btn-danger").removeClass("btn-success");
				for(var j = 0; j < readerUserList.length; j++){
					if(parseInt(readerUserList[j] - 1) == i){	// minus 1 again because readerUserList ID's are 1-indexed
						userAuthorized = true;
					}
				}
				if(userAuthorized){
					$(userListButtons[i]).addClass("btn-success");
					userListButtons[i].innerHTML = "Authorized";
				}else{
					$(userListButtons[i]).addClass("btn-danger");
					userListButtons[i].innerHTML = "Unauthorized";
				}
			}

			var userListDialog = document.getElementById("changeUserListDialog");
			$("#changeUserListDialog").modal("show");
		}
	</script>
	<div id="changeUserListDialog" class="modal fade" role="dialog">
      	<div class="modal-dialog">
	        <div class="modal-content">
	          	<div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal">&times;</button>
	            	<h4 class="modal-title">Change User Authorization List</h4>
	        	</div>
		        <div class="modal-body">
			        <table class="table table-striped">
				        <thead>
				        	<tr>
				        		<th>Username</th>
				        		<th>Authorized</th>
				        	</tr>
				        </thead>
				        <tbody id="changeUserListTable">
				        {% for user in users %}
							<tr>
								<td>{{ user.username }}</td>
								<td class="text-center"><button class="btn btn-danger userListButton" onclick="toggleUserList({{ user.id }})">Unauthorized</button></td>
							</tr>
				        {% endfor %}
	            		</tbody>
	        		</table>
		        </div>
		        <div class="modal-footer">
			        <button type="button" class="btn btn-success" onclick="saveUserListChanges()" data-dismiss="modal">Save Changes</button>
		            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		        </div>
    		</div>
    	</div>
	</div>
	<div class="panel-group">
		{% if user.access == 99 %}
		<div class="panel panel-info">
	        <div class="panel-heading"><strong>Create and Edit Card Readers</strong></div>
	        <div class="panel-body">
				<p>You are logged in as a user with <strong>Admin</strong> access level. View User and Reader database by clicking this link: </p>
				<a href="admin/user" class="btn btn-success">Admin Database Access</a>
	  		</div>
	  	</div>
		<div class="panel panel-info">
		    <div class="panel-heading"><strong>Reader List</strong></div>
		    <div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th>Users</th>
							<th>Active Time Period</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for reader in readers %}
						<tr>
							<td style="width:10%">{{ reader.name }}</td>
							{% if reader.status == 0 %}
							<td style="color:gray">Inactive</td>
							{% elif reader.status == 1 %}
							<td style="color:green">Active</td>
							{% else %}
							<td style="color:#ff0000" class="flash250">TAMPER</td>
							{% endif %}
							<td class="readerUserList" id="{{ reader.id }}">
							{% for readeruser in reader.users %}
								{% for user in users %}
									{% if user.id|int() == readeruser|int() %}
										{{ user.username }},
									{% endif %}
								{% endfor %}
							{% endfor %}
							</td>
							<td>{{ reader.starttime }} - {{ reader.endtime}}</td>
							<td style="width:20%">
								<button class="btn btn-primary enable">Enable</button>
								<button class="btn btn-primary changeUserList" onclick="changeUserList({{ reader.id }})">User Auth List</button>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}